:root {
  --bg-color: #faa79f;
  --white: #ffffff;
}

.ApplicationMain {
  padding: 10px;
  background-color: #e4ebf5;
}

.ApplicationMain .app_main_wrapper {
  padding: 5px;
}

.ApplicationMain .app_main_wrapper .shop_item_wrapper .arrow_animation {
  transform: translateX(-20px);
  animation: arrow 5s ease-in-out infinite;
  font-weight: bolder;
}

.ApplicationMain .app_main_wrapper .shop_item_wrapper .visit_btn_txt {
  animation: visit_btn_txt 2s ease-in-out infinite;
}

@keyframes visit_btn_txt {
  0% {
    color: green;
  }
  50% {
    color: orangered;
  }
  100% {
    color: black;
  }
}
@keyframes arrow {
  0% {
    transform: translateX(-20px);
    color: green;
  }
  50% {
    transform: translateX(5px);
    color: orangered;
  }
  100% {
    transform: translateX(-20px);
    color: black;
  }
}

/**************************
 shop_item_wrapper start
**************************/

.ApplicationMain .app_main_wrapper .shop_item_wrapper {
  display: grid;
  grid-template-columns: auto repeat(5, auto);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ApplicationMain .store_item {
  height: 180px;
  width: 200px;
  border: 1px solid #ffffff;
}

/* 92818F */

/* FDEDE3 */

/* E3E1FC */

/* FDDFF6 */

/* 913D46 */

/* FAA79F */

/* 190052 */

/* D6DFEF */
